@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Square721;
    src: url(./assets/fonts/Square_721_Regular.otf);
}

@font-face {
    font-family: Square721bt;
    src: url(./assets/fonts/SQR721B.TTF);
}



h1, .square{
    font-family: Square721;
}

.squarebt{
    font-family: Square721bt;
}

/* en tu globals.css o styles.css */
.mask-fade {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}
